<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PhonX Rave</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
  </head>
  <body ng-app="phonX" ng-controller="PhonXCtrl">

  <!-- <ion-side-menus id="LogInScreen"> -->

    <!-- Center content -->
    <!-- <ion-side-menu-content> -->
      <ion-header-bar class="bar-dark" id-"loginScreen">
        <!-- <h1 class="title">Todo</h1> -->
        <!-- New Task button-->
        <button class="button button-icon" ng-click="oldUser()">
          <i>Log In</i>
        </button>
        <button class="button button-icon" ng-click="newUser()">
          <i>Sign Up</i>
        </button>
      </ion-header-bar>
      <ion-content>
        <!-- our list and list items -->
        <ion-list>
          <ion-item ng-repeat="task in tasks">
            {{task.title}}
          </ion-item>
        </ion-list>
      </ion-content>
    <!-- </ion-side-menu-content> -->

  <!-- </ion-side-menus> -->

  <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
  <!--firebase-->
   <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <!--angularfire-->
   <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

  <script id="login.html" type="text/ng-template">

    // Log In Modal
    <div class="modal">
      // <!-- Modal header bar -->
      <ion-header-bar class="bar-secondary">
        <h1 class="title">PhonX Rave</h1>
        <button class="button button-clear button-positive" ng-click="closeOldUser()">Cancel</button>
      </ion-header-bar>

      // <!-- Modal content area -->
      <ion-content>

        <form ng-submit="createTask(task)">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="What do you need to do?" ng-model="task.title">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-positive">Log In</button>
          </div>
        </form>
      </ion-content>
    </div>
  </script>

  <script id="signUp.html" type="text/ng-template">
    // Sign Up Modal
    <div class="modal">
      // <!-- Modal header bar -->
      <ion-header-bar class="bar-secondary">
        <h1 class="title">PhonX Rave</h1>
        <button class="button button-clear button-positive" ng-click="closeNewUser()">Cancel</button>
      </ion-header-bar>

      // <!-- Modal content area -->
      <ion-content>

        <form ng-submit="createNewUser(newUserInfo)">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="User Name" ng-model="newUserInfo.userName">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="newUserInfo.userEmail">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="newUserInfo.userPassword">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-positive">Sign Up</button>
          </div>
        </form>
      </ion-content>
    </div>

  </script>

  <script src="js/app.js"></script>
  <script src="js/appRoute.js"></script>
  <script src="js/main_menue_Ctrl.js"></script>
</body>
</html>